@model IEnumerable<SleepTracker.Models.SleepFactor>

@{
    ViewData["Title"] = "Factors";
}

<h1>Factors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Factor</a>
</p>

<!-- Displays list of all factors -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Sleep Log Id</th>
            <th>User</th>
            <th>Sleep Start</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Value</td>
            <td>@item.SleepLogId</td>
            <td>@item.SleepLog?.User?.Name</td>
            <td>@item.SleepLog?.SleepStart.ToString("dd.MM.yyyy HH:mm")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>